@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ####### utility class##### */

.navbar_contain {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.sub_head {
    font-size: 1.2rem;
}

.btn-prim {
    display: inline-block;
    background-color: #646464;
    padding: 0.8rem 2rem;
    margin: 1rem;
    transition: color 0.2s ease-in-out;
    border-radius: 50px;
}

/* ######### NavBar Styling ##########  */

/* for Destop */

.nav_bar .navbar_contain input[type='checkbox'],
.nav_bar .navbar_contain .hamburger {
    display: none;
}

.nav_bar {
    /* box-shadow: 0px 5px 10px 0 #c8c8c8; */
    position: fixed;
    width: 100%;
    background-color: #c8c8c8;
    color: #000;
    opacity: 0.85;
    z-index: 10;
}

.nav_bar .navbar_contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.menu_list {
    order: 2;
}

.logo {
    order: 1;
    font-size: 3rem;
}

.nav_bar .navbar_contain .menu_list {
    display: flex;
    /* justify-content: space-between; */
    gap: 2rem;
    font-size: 1.6rem;
}

.nav_bar .navbar_contain li {
    list-style: none;
    margin-left: 1.5rem;
}

.nav_bar .navbar_contain .menu_list a {
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-weight: 400;
    font-size: 2rem;
}

.nav_bar .navbar_contain .menu_list a:hover {
    color: #000000;
    font-weight: 600;
    font-weight: 600;
}

/* ############## Section ############# */
.showcase {
    height: 65vh;
    background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-black-meat-western-food-banner-background-image_194600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: block;
}

.showcase_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    gap: 2rem;
}

.showcase_container h1 {
    color: #f5f5f5;
    text-transform: uppercase;
}

.showcase_container p {
    color: #f5f5f5;
    padding: 0.5rem;
}



.showcase_container a {
    text-decoration: none;
    color: #000;
    transition: color 0.5s ease-in-out;
    border-radius: 6px;
    font-weight: 600;
}

.showcase_container a:hover {
    color: #f5f5f5;
    font-weight: 600;
}


/* ############ Aboutus _section ############ */
.aboutus_sec .about_contain {
    display: flex;
    gap: 2rem;
}

.about_contain {
    /* border: 3px solid red; */
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 2rem;
}



.aboutus_sec .about_contain .imgh {
    padding: 1rem;
    margin: auto;
    background: url('https://t4.ftcdn.net/jpg/02/28/28/15/360_F_228281535_DbxC98AAXl0TOe2TcasxiUU53s7etqox.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    transform: translate(-150%);
    animation: aboutus_sec_a 1s ease-in-out forwards;
}

@keyframes aboutus_sec_a {
    100% {
        transform: translate(0);
    }
}

.aboutus_sec .about_contain .Text {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    transform: translate(150%);
    animation: aboutus_sec_a 1.5s ease-in-out forwards;
}

.aboutus_sec .about_contain .Text .main_head {
    font-size: 2rem;
    padding-top: 1rem;
}

.aboutus_sec .about_contain .Text p {
    padding: 1rem 0;
    font-size: 1.5rem;
}

/* ########### Types ############### */

.types .about_contain {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.types .about_contain img {
    object-fit: cover;
    object-position: center;
    width: 550px;
    max-height: 300px;
    height: 50vh;
    border-radius: 100px;
    padding: 2rem;
    margin: auto;
    display: block;
}


.types .about_contain .img {
    position: relative;
}

.types .about_contain .content {
    position: absolute;
    font-size: 3rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}

.types .about_contain .content:hover {
    opacity: 1;
}

.img::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.img:hover::after {
    opacity: 1;
    transform: scaleY(1);
    border-radius: 100px;
}

.img:hover .content {
    opacity: 1;
    top: 50%;
}

.types .about_contain .content a {
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}


.types p {
    font-size: 2rem;
    font-weight: 600;
    color: #f5f5f5;
}

.types .about_contain .content a:hover {
    color: #f5f5f5;
    font-weight: 600;
}

/* ########## Menu Lists styling ############ */
.menu-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
}

.menu-lists {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 1200px;
}

.menu-lists .menu-img img {
    width: 300px;
    height: 300px;
    background-size: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 10%;
}

.menu-lists .menu-cont {
    display: block;
    padding: 1rem;
    width: 250px;
    height: 300px;
    margin-left: 1rem;
}

.menu-cont .menu-name {
    font-size: 2rem;
    font-weight: 600;
}

.menu-head {
    font-size: 1.3rem;
    padding-left: 0.5rem;
    margin: 1rem;
}

.price-dish {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    margin-left: 1rem;
}


/* ########### feedback styling ########## */
.feed p {
    font-size: 1.6rem;
    margin-top: 1rem;
    padding: 1rem;
}

.feedback {
    display: flex;
    background-color: #f5f5f5;
}

.star {
    margin: 1.6rem;
    justify-content: center;
    margin-left: 2rem;
    padding: 3rem;
    display: flex;
}

.star i {
    margin: 0.5rem;
    object-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

.cust-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feed-img img {
    width: 100px;
    align-items: center;
    height: 110px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
    border-radius: 50px;
    background-repeat: no-repeat;
    padding: 1rem;
}

.feed p {
    font-size: 1.6rem;
    padding: 2rem;
    align-items: center;
    width: 400px;

}

/* ##### Contact Us ########## */

.contact {
    display: flex;
}

.contact-img .contact-img {
    width: 600px;
    display: flex;
}

.contact-img img {
    width: 600px;
    display: block;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    margin: 1rem;
    height: 95%;
}

.contact-det h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem;
}

.contact-det input {
    display: block;
    width: 90%;
    margin: 2rem;
    padding: 1rem;
}

.contact-det label {
    font-size: 1.6rem;
    padding: 2rem;
    margin: 1rem;
    margin-top: 2rem;
}

.contact-det {
    width: 500px;
    margin: 1rem;
}

.sub {
    background-color: #646464;
    color: #fff;
}

/* ####### Footer ######## */
.footers {
    background-color: #646464;
    /* width: 100%; */
    height: 80px;
}

.footers h2 {
    text-align: center;
    color: #f5f5f5;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.footers i {
    justify-content: center;
    padding: 2rem;
    align-items: center;
}

.ss {
    justify-content: center;
    align-content: center;
    display: flex;
}


/* ##### Headings ###### */
.heads {
    text-align: center;
    margin: 4rem 0;
    font-size: 2.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* ######################## Responsive  ###############*/

/* ########### less than 500 ############# */
@media (max-width: 500px) {
    .nav_bar{
        max-width: 500px;
        background-color: red;
        /* margin-top: -10px; */
        height: 30px;
    }
    .nav_bar .navbar_contain .logo{
        order: 2;
        font-size: 2rem;
        font-weight: 600;
        /* top: 0px; */
        margin-top: -25px;

        color: #fff;
    }
    /* .logo{
        color: #fff;
        font-size: 1rem;
        top: 0;
    } */
    .nav_bar .navbar_contain input[type='checkbox']:checked~.menu_list {
        transform: translateX(0);
    }

    .nav_bar .navbar_contain input[type='checkbox']:checked~.hamburger .line1 {
        transform: rotate(45deg);
    }

    .nav_bar .navbar_contain input[type='checkbox']:checked~.hamburger .line2 {
        transform: scaleY(0);
    }

    .nav_bar .navbar_contain input[type='checkbox']:checked~.hamburger .line3 {
        transform: rotate(-45deg);
    }




    /* ############## Section ############# */
    .showcase {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 100%;
        /* background-size: 100%; */
    }

    .showcase_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.6rem;
        gap: 2rem;
        border: 2px solid blue;
    }

    .showcase_container h1 {
        color: #f5f5f5;
        text-transform: uppercase;
        font-size: 1.4rem;
        text-align: center;
        padding-top: 1rem;
    }

    .showcase_container p {
        color: #f5f5f5;
        /* padding: 0.5rem; */
        margin-top: -1rem;
        font-size: 1.2rem;
        width: 300px;
        text-align: center;
    }

    .showcase_container a {
        text-decoration: none;
        color: #000;
        transition: color 0.5s ease-in-out;
        border-radius: 6px;
        font-weight: 600;
        /* padding: 1px; */
        font-size: 1.5rem;
        margin-top: -1rem;
    }

    .showcase_container a:hover {
        color: #f5f5f5;
        font-weight: 600;
    }

    /* ############ Aboutus _section ############ */
    .aboutus_sec .about_contain {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        /* justify-content: center; */
    }

    .about_contain {
        border: 3px solid red;
        /* width: 1200%; */
        max-width: 500px;
    }

    .aboutus_sec .about_contain .imgh {
        padding: 1rem;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 29vh;
        width: 100%;
        background-size: 95%;
        object-fit: cover;
        transform: translate(-150%);
        animation: aboutus_sec_a 1s ease-in-out forwards;
    }

    @keyframes aboutus_sec_a {
        100% {
            transform: translate(0);
        }
    }

    .aboutus_sec .about_contain .Text {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        transform: translate(150%);
        animation: aboutus_sec_a 1.5s ease-in-out forwards;
    }

    .aboutus_sec .about_contain .Text .main_head {
        font-size: 2rem;
        padding-top: 1rem;
    }

    .aboutus_sec .about_contain .Text p {
        padding: 1rem 0;
        font-size: 1.5rem;
    }

    .Text .sub_head {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }



    /* ########### Types ############### */

    .types .about_contain {
        display: flex;
        gap: 2rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .types .about_contain img {
        object-fit: cover;
        object-position: center;
        width: 350px;
        max-height: 300px;
        height: 50vh;
        border-radius: 100px;
        padding: 2rem;
        margin: auto;
        display: block;
    }


    .types .about_contain .img {
        position: relative;
    }

    .types .about_contain .content {
        position: absolute;
        font-size: 3rem;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 2;
        text-align: center;
        transition: all 0.3s ease-in-out 0.1s;
    }

    .types .about_contain .content:hover {
        opacity: 1;
    }

    .img::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000c7;
        opacity: 0;
        z-index: 1;
        transform: scaleY(0);
        transform-origin: 100% 100%;
        transition: all 0.3s ease-in-out;
    }

    .img:hover::after {
        opacity: 1;
        transform: scaleY(1);
        border-radius: 100px;
    }

    .img:hover .content {
        opacity: 1;
        top: 50%;
    }

    .types .about_contain .content a {
        color: #000;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        justify-content: center;
    }


    .types p {
        font-size: 2rem;
        font-weight: 600;
        color: #f5f5f5;
    }

    .types .about_contain .content a:hover {
        color: #f5f5f5;
        font-weight: 600;
    }



    /* ########## Menu Lists styling ############ */
    .menu-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        justify-content: space-between;
    }

    .menu-lists {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 400px;
        margin-bottom: 2rem;
        max-width: 1200px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .menu-lists .menu-img img {
        width: 300px;
        height: 300px;
        background-size: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: 10%;
    }

    .menu-lists .menu-cont {
        display: block;
        padding: 1rem;
        width: 250px;
        height: 270px;
        margin: 1rem;
    }

    .menu-cont .menu-name {
        font-size: 2rem;
        font-weight: 600;
    }

    .menu-head {
        font-size: 1.3rem;
        padding-left: 0.5rem;
        margin: 1rem;
    }

    .price-dish {
        font-size: 1.8rem;
        font-weight: 600;
        color: #000;
        margin-left: 1rem;
    }


    /* ###### Feedback ###### */
    .feed p {
        font-size: 1.6rem;
        text-align: center;
        width: 350px;
    }

    .feedback {
        display: flex;
        background-color: #f5f5f5;
        flex-direction: column;
    }

    .cust-feed .star {
        order: 2;
        text-align: center;
        margin-top: 1rem;
        height: 10px;
        margin-bottom: 0;
    }

    .cust-feed .feed {
        order: 3;
    }

    .cust-feed .feed-img {
        order: 1;
        height: 110px;
        margin: 1rem;
        margin-bottom: 0;
    }

    .feed-img img {
        width: 130px;
        align-items: center;
        height: 150px;
        object-fit: cover;
        object-position: center;
        display: block;
        margin: auto;
        border-radius: 50px;
        background-repeat: no-repeat;
        padding: 1rem;
    }

    /* ##### Contact Us ########## */
    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact-img .contact-img {
        width: 600px;
        display: flex;
    }

    .contact-img img {
        width: 310px;
        display: block;
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
        margin: auto;
        padding: 1rem;
        height: 95%;
    }

    .contact-det h1 {
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem;
        text-align: center;
        margin-left: -20rem;
    }

    .contact-det input {
        display: block;
        width: 50%;
        margin: 2rem;
        padding: 1rem;
    }

    .contact-det label {
        font-size: 1.6rem;
        padding: 2rem;
        margin: 1rem;
        margin-top: 2rem;
    }

    .contact-det {
        width: 500px;
        margin: 1rem;
    }

    /* ####### Footer ######## */
    .footers {
        background-color: #646464;
        width: 100%;
        height: 100px;
    }

    .footers h2 {
        text-align: center;
        color: #f5f5f5;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .footers i {
        justify-content: center;
        padding: 2rem;
        align-items: center;
    }

    .ss {
        justify-content: center;
        align-content: center;
        display: flex;
    }
}





/* ############ Responsive 2 ############# */
@media(min-width: 501px) and (max-width: 768px) {
    .nav_bar {
        opacity: 0.95;
    }

    .nav_bar .navbar_contain[type='checkbox'],
    .nav_bar .navbar_contain .hamburger {
        display: block;
    }

    .nav_bar .navbar_contain {
        display: block;
        position: relative;
        height: 64px;
    }

    .nav_bar .navbar_contain input[type='checkbox'] {
        position: relative;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        /* left: 20px; */
        z-index: 5;
        opacity: 0;
    }

    .nav_bar .navbar_contain .hamburger {
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav_bar .navbar_contain .hamburger .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color: #333;
    }

    .nav_bar .navbar_contain .hamburger .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav_bar .navbar_contain .hamburger .line2 {
        transition: transform 0.4s ease-in-out;
    }

    .nav_bar .navbar_contain .hamburger .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .nav_bar .menu_list {
        padding-top: 100px;
        background-color: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
    }

    .nav_bar .menu_list li {
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        font-size: 3rem;
        top: 10px;
        right: 15px;
    }

    .nav_bar .navbar_contain input[type='checkbox']:checked~.menu_list {
        transform: translateX(0);
    }

    .nav_bar .navbar_contain input[type='checkbox']:checked~.hamburger .line1 {
        transform: rotate(45deg);
    }

    .nav_bar .navbar_contain input[type='checkbox']:checked~.hamburger .line2 {
        transform: scaleY(0);
    }

    .nav_bar .navbar_contain input[type='checkbox']:checked~.hamburger .line3 {
        transform: rotate(-45deg);
    }

    /* ############## Section ############# */
    .showcase {
        height: 45vh;
        /* height: 230px; */
        /* width: 80vh; */
        background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-black-meat-western-food-banner-background-image_194600.jpg");
        /* width: 110%; */
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        object-fit: cover;
        display: block;
    }


    /* ######## contact us Styling  ########## */

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact {
        display: flex;
    }

    .contact-img .contact-img {
        width: 600px;
        /* border: 2px solid red; */
        display: flex;
    }

    .contact-img img {
        width: 400px;
        display: block;
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
        margin: 1rem;
        height: 95%;
    }

    /* ############## feedback ############# */
    .cust-feed {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .feedback {
        display: flex;
        flex-wrap: wrap;
        background-color: #f5f5f5;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* padding: 2rem 0; */
    }

    .feed-img img {
        width: 100px;
        align-items: center;
        height: 110px;
        object-fit: cover;
        object-position: center;
        display: block;
        margin: auto;
        border-radius: 50px;
        background-repeat: no-repeat;
        /* padding: 1rem; */
        margin-bottom: 3rem;
    }

    .cust-feed .star {
        order: 2;
        text-align: center;
        margin-top: 1rem;
        height: 10px;
        margin-bottom: 0;
    }

    .cust-feed .feed {
        order: 3;
    }

    .cust-feed .feed-img {
        order: 1;
        height: 110px;
        margin: 1rem;
        margin-bottom: 0;
    }

    .feed p {
        font-size: 1.6rem;
        padding: 2rem;
        width: 350px;

    }

    .contact-det input {
        display: block;
        width: 90%;
        margin: 2rem;
        padding: 1rem;
    }

    .contact-det label {
        font-size: 1.6rem;
        padding: 2rem;
        margin: 1rem;
        margin-top: 2rem;
    }

    .contact-det {
        width: 500px;
        margin: 1rem;
    }

    .contact-det h1 {
        font-size: 3rem;
        font-weight: 600;
        margin: 1rem;
    }

    /* ########## About_us ######## */
    .aboutus_sec .about_contain {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }

    .sub_head {
        text-align: center;
        font-size: 1.6rem;
    }

    /* ####### Footer ######## */
    .footers {
        background-color: #646464;
        width: 100%;
        height: 80px;
    }

    .footers h2 {
        text-align: center;
        color: #f5f5f5;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .footers i {
        justify-content: center;
        padding: 2rem;
        align-items: center;
    }

    .ss {
        justify-content: center;
        align-content: center;
        display: flex;
    }
}

/* ########### Responsive 3 ############ */

@media(min-width: 769px) and (max-width: 1200px) {
    /* ######### Nav Bar ############## */
    navbar_contain {
        width: 90%;
        max-width: 1200px;
        margin: auto;
    }
    
    .sub_head {
        font-size: 1.2rem;
    }
    
    .btn-prim {
        display: inline-block;
        background-color: #646464;
        padding: 0.8rem 2rem;
        margin: 1rem;
        transition: color 0.2s ease-in-out;
        border-radius: 50px;
    }
    
    /* ######### NavBar Styling ##########  */
    
    /* for Destop */
    
    .nav_bar .navbar_contain input[type='checkbox'],
    .nav_bar .navbar_contain .hamburger {
        display: none;
    }
    
    .nav_bar {
        /* box-shadow: 0px 5px 10px 0 #c8c8c8; */
        position: fixed;
        width: 100%;
        background-color: #c8c8c8;
        color: #000;
        opacity: 0.85;
        z-index: 10;
    }
    
    .nav_bar .navbar_contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
    }
    
    .menu_list {
        order: 2;
    }
    
    .logo {
        order: 1;
        font-size: 3rem;
    }
    
    .nav_bar .navbar_contain .menu_list {
        display: flex;
        /* justify-content: space-between; */
        gap: 2rem;
        font-size: 1.6rem;
    }
    
    .nav_bar .navbar_contain li {
        list-style: none;
        margin-left: 1.5rem;
    }
    
    .nav_bar .navbar_contain .menu_list a {
        color: #000;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        font-weight: 400;
        font-size: 2rem;
    }
    
    .nav_bar .navbar_contain .menu_list a:hover {
        color: #000000;
        font-weight: 600;
        font-weight: 600;
    }
    /* ############## Section ############# */
/* .showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 1290px;
}

.showcase_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    gap: 2rem;
} */
/* 
.showcase_container h1 {
    color: #f5f5f5;
    text-transform: uppercase;
}

.showcase_container p {
    color: #f5f5f5;
    padding: 0.5rem;
}
.showcase_container a {
    text-decoration: none;
    color: #000;
    transition: color 0.5s ease-in-out;
    border-radius: 6px;
    font-weight: 600;
}

.showcase_container a:hover {
    color: #f5f5f5;
    font-weight: 600;
} */

  /* ############ Aboutus _section ############ */
  .aboutus_sec .about_contain {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
.about_contain {
    border: 3px solid red;
    width: 90%;
    max-width: 1000px;
    /* margin-top: 1.5rem;  */
    /* margin-left: 10rem; */
}
.aboutus_sec .about_contain .Text p {
    padding: 1rem 0;
    font-size: 1.8rem;
}
.aboutus_sec .about_contain .Text .main_head {
    font-size: 2.2rem;
    padding-top: 1rem;
}
/* ########### Types ############### */

.types .about_contain {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.types .about_contain img {
    object-fit: cover;
    object-position: center;
    width: 350px;
    max-height: 300px;
    height: 50vh;
    border-radius: 100px;
    padding: 2rem;
    margin: auto;
    display: block;
}


.types .about_contain .img {
    position: relative;
}

.types .about_contain .content {
    position: absolute;
    font-size: 3rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}

.types .about_contain .content:hover {
    opacity: 1;
}

.img::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.img:hover::after {
    opacity: 1;
    transform: scaleY(1);
    border-radius: 100px;
}

.img:hover .content {
    opacity: 1;
    top: 50%;
}

.types .about_contain .content a {
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}


.types p {
    font-size: 2rem;
    font-weight: 600;
    color: #f5f5f5;
}

.types .about_contain .content a:hover {
    color: #f5f5f5;
    font-weight: 600;
}
 /* ########## Menu Lists styling ############ */
 .menu-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
}

.menu-lists {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 400px;
    margin-bottom: 2rem;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.menu-lists .menu-img img {
    width: 300px;
    height: 300px;
    background-size: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 10%;
}

.menu-lists .menu-cont {
    display: block;
    padding: 1rem;
    width: 250px;
    height: 270px;
    margin: 1rem;
}

.menu-cont .menu-name {
    font-size: 2rem;
    font-weight: 600;
}

.menu-head {
    font-size: 1.3rem;
    padding-left: 0.5rem;
    margin: 1rem;
}

.price-dish {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    margin-left: 1rem;
}




/* ########## Menu Lists styling ############ */
.menu-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
}

.menu-lists {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 400px;
    margin-bottom: 2rem;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.menu-lists .menu-img img {
    width: 300px;
    height: 300px;
    background-size: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 10%;
}

.menu-lists .menu-cont {
    display: block;
    padding: 1rem;
    width: 250px;
    height: 270px;
    margin: 1rem;
}

.menu-cont .menu-name {
    font-size: 2rem;
    font-weight: 600;
}

.menu-head {
    font-size: 1.3rem;
    padding-left: 0.5rem;
    margin: 1rem;
}

.price-dish {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    margin-left: 1rem;
}


/* ###### Feedback ###### */
.feed p {
    font-size: 2rem;
    text-align: center;
    width: 200px;
    border: 2px solid black;
    /* order */
}

.feedback {
    display: flex;
    background-color: #f5f5f5;
    /* flex-direction: column; */
}

.cust-feed .star {
    order: 2;
    text-align: center;
    margin-top: 1rem;
    height: 10px;
    margin-bottom: 0;
}

.cust-feed .feed {
    order: 3;
}

.cust-feed .feed-img {
    order: 1;
    height: 110px;
    margin: 1rem;
    margin-bottom: 0;
}

.feed-img img {
    width: 130px;
    align-items: center;
    height: 150px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
    border-radius: 50px;
    background-repeat: no-repeat;
    padding: 1rem;
}

 /* ##### Contact Us ########## */
 .contact {
    display: flex;
}

.contact-img .contact-img {
    width: 550px;
    display: flex;
}

.contact-img img {
    width: 550px;
    display: block;
    object-fit: cover;
    background-size: 100%;
    object-position: center;
    background-repeat: no-repeat;
    margin: auto;
    padding: 1rem;
}

.contact-det .heads {
    font-size: 2.3rem;
    font-weight: 500;
    margin: 1rem;
    text-align: center;
    margin-left: -20rem;
}

.contact-det input {
    display: block;
    width: 80%;
    margin: 2rem;
    padding: 1rem;
    font-size: 2.2rem;
}

.contact-det label {
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem;
    margin-top: 2rem;
}

.contact-det {
    width: 500px;
    margin: 1rem;
}

/* ####### Footer ######## */
.footers {
    background-color: #646464;
    width: 100%;
    height: 95px;
}

.footers h2 {
    text-align: center;
    color: #f5f5f5;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.footers i {
    justify-content: center;
    padding: 2rem;
    align-items: center;
}

.ss {
    justify-content: center;
    align-content: center;
    display: flex;
}
}